@use './page.scss';

#page-view {
	height: 100%;
	overflow-y: auto;
	padding: 1em;
	box-sizing: border-box;
}

h1 {
	margin-bottom: 0;
}

.footer {
	width: fit-content;
	position: sticky;
	bottom: 0;
	color: var(--system-theme-canvas-text);
	background-color: var(--system-theme-canvas);
	border: solid 1px;
	margin: 1em auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	padding: 0.5em;
}

.section {
	margin: 1em 0;
}

.visibility {
	width: fit-content;
}

.recipe-props {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	justify-items: start;
	gap: 0.5em;
}

.recipe-actions {
	margin: 0.5em 0;
	display: flex;
	gap: 0.25em;
}

textarea,
input {
	font-size: 16px;
}

textarea {
	min-width: 95%;
}

.array-edit-list {
	list-style-type: none;
	padding: 0;

	display: inline-flex;
	flex-flow: column;

	.array-item {
		cursor: move;
		color: var(--system-theme-button-text);
		background-color: var(--system-theme-button-face);
		border: solid thin var(--system-theme-button-border);

		display: flex;
		align-items: center;
		gap: 0.5em;

		padding: 0.5em;

		&.invalid {
			color: var(--system-theme-error-text);
			background-color: var(--system-theme-error);
		}

		&.selected {
			//text-decoration: underline;
			color: var(--system-theme-selected-item-text);
			background-color: var(--system-theme-selected-item);
		}
	}
}

.save-indicator {
	margin: 0.25em;
	display: flex;
	align-items: center;
	gap: 0.25em;

	.icon {
		box-sizing: border-box;
		$size: 1.1em;
		width: $size;
		height: $size;
		padding: 0.05em;
		border-radius: calc($size / 2);

		&.error {
			color: var(--system-theme-error);
			background-color: var(--system-theme-error-text);
			border-color: var(--system-theme-error-text);
		}

		&.success {
			color: var(--system-theme-success);
			background-color: var(--system-theme-success-text);
			border-color: var(--system-theme-success-text);
		}
	}
}

.error-banner {
	background-color: var(--system-theme-error);
	color: var(--system-theme-error-text);

	border: {
		color: var(--system-theme-error-text);
		width: thin;
		style: solid;
	}

	padding: 1em;
	margin: 0.5em auto;
	width: fit-content;
}
